.container {
    display: flex;
    padding: 0 60px 30px 60px;
    justify-content: flex-start;
    align-items: flex-start;
}

.headcotainer {
    display: flex;
    gap: 100px;
    padding: 28px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-left: -90px;
}

.containertext {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.inputbox{
    display: flex;
    padding: 4px 0px 4px;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 4px 4px 0px 0px;
    flex-direction: column;
}

.dropdown {
    display: flex;
    width: 310px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #49454F;
    flex-direction: row;
    border-radius: 4px;
    padding: 0 10px;
}

.dropdownicon {
    width: 32px;
    height: 32px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 25px;
    margin-left: -120px;
}

.productbox {
    height: 33vw;
}

.productsimages {
    height: 180px;
    cursor: pointer;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.heading {
    color: #181C1C;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-top: -3px;
    cursor: pointer;
}

.description, .description2 {
    color: #757777;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: -20px;
}

.ratingbox {
    display: flex;
    align-items: center;
    margin-top: -10px;
    gap: 5px;
    margin-top: -15px;
}

.description2 {
    margin-top: 0;
    padding-top: 12px;
}

.rating {
    width: 60px;
}

.wrap {
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--sds-size-space-300);
    align-self: stretch;
    width: 200px;
}

.amount {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-top: -1px;
}

.button {
    margin-bottom: 20px;
    border: 1px solid #FF8376;
}

.productbox {
    border-radius: 8px;
    box-shadow: 1px 1px 2.1px 0px rgba(121, 116, 126, 0.25), 0px 1px 3px 1px rgba(217, 229, 228, 0.15);
}

.naviation {
    display: flex;
    padding: 28px 0px;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-left: -15vw;
}

.number {
    display: flex;
    align-items: center;
    gap: 28px;
}

.lefticon, .righticon {
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
}

.lefticon, .active {
    color: #005858;
    background-color: #1D1B201F;
    border-radius: 100px;
}

.righticon {
    color: white;
    background-color: #005858;
    border-radius: 100px;
}

.active {
    width: 40px;
    padding: 8px 0px;
    background-color: #006A6A24;
}

.mobileheadcontainer {
    display: none;
}

@media (max-width:900px) {
    .headcotainer {
        display: none;
    }

    .mobileheadcontainer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        align-self: stretch;
        gap: 30px;
    }

    .asidecontainer {
        display: none;
    }

    .filter {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .filterbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 90px;
    }

    .products { 
        margin-left: 0;
    }

    .productbox {
        height: 430px;
        width: 300px;
        flex: 25%;
    }

    .number p {
        font-size: 16px;
    }
}

@media (max-width:500px) {
    .container {
        padding: 10px 20px;
        padding-bottom: 40px;
        gap: 60px;
        overflow: hidden;
    }
    .products {
        flex-direction: column;
    }

    .headcotainer {
        display: none;
    }

    .mobileheadcontainer, .filter{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        align-self: stretch;
        gap: 30px;
    }

    .filter {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .filterbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .asidecontainer {
        display: none;
    }

    .products {
        display: flex;
        width: 160px;
        flex-direction: column;
        align-items: flex-start;
    }

    .productbox {
        height: 420px;
        width: 150px;
        flex: 25%;
        display: flex;
        align-items: center;
        gap: 20px;
        box-shadow: none;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        gap: 30px;
        margin-left: 0;
        
    }

    .productsimages {
        height: 120px;
    }

    .description, .description2, .heading {
        width: 230px;
    }
    .naviation {
        padding: 5px 0px;
        gap: 20px;
        margin-left: 15vw;
    }
    
    .number {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .lefticon, .righticon {
        width: 14px;
        height: 14px;
        padding: 4px;
    }
    
    .lefticon, .active {
        color: #005858;
        background-color: #1D1B201F;
        border-radius: 100px;
    }
    
    .active {
        width: 28px;
        padding: 2px 0px;
        border-radius: 100px;
        background-color: #006A6A24;
    }

    .number p {
        font-size: 12px;
    }
}