header {
    background-color: #005858;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    opacity: var(--sds-size-stroke-border);
    position: sticky;
}

.logo {
    width: 200px;
    height: 31.38px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
}

.dropdown-toggle {
    background-color: transparent;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    border: none;
    cursor: pointer;
  }

.icon {
    color: white;
    padding-right: 10px;
}

.dropdown-menu {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-item {
    padding: 12px 5px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.dropdown-item:hover {
    /* border-left: 1px solid #005858; */
    color: #005858;
  }

.search {
    background-color: #008080;
    padding: 25px 100px;
}

.search input {
    width: 60%;
    height: 30px;
    margin: 0 15vw;
    padding: 0 20PX;
    border-radius: 20px;
    border: var(--sds-size-stroke-border) solid var(--sds-color-border-default-default);
    background: white;
}

.search input label {
    color: #B3B3B3;
    font-family: var(--sds-typography-body-font-family);
    font-size: var(--sds-typography-body-size-medium);
    font-style: normal;
    opacity: var(--sds-size-stroke-border);
}

.searchicon {
    color: #005858;
    position: absolute;
    left: 73%;
    margin-bottom: 90%;
}