.container {
    padding: 20px 100px 60px 100px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.containhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.containhead h2 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    line-height: 44px;
    font-weight: 600;
}

.containhead p {
    color: #005858;
    font-size: 14px;
    cursor: pointer;
}

.deleteicon {
    color: #005858;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.productbox {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 28px;
    border-bottom: 1px solid #E1E3E2;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wrap p {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

.heading {
    font-family: "Roboto", sans-serif;
    font-family: 14px;
}

.quantity, .amount {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: -15px;
}

.counter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.count {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background-color: #E1E3E2;
    text-align: center;
}

.amount {
    font-weight: 600;
}

.amountbox {
    display: flex;
    width: 350px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background: var(--Schemes-Surface, #F6FAF9);
}

.headbox {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    gap: 40px;
}

.headbox h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.headbox h3 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.button {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid #FF8376;
}

.describe {
    font-size: 12px;
    text-align: center;
    color: #454747;
}

.inputboxbox p {
    font-size: 12px;
    color: #454747;
    font-weight: 400;
    line-height: 32px;
}

.inputboxbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

.inputbox {
    display: flex;
    align-items: center;
    gap: 6px;
}

.infoicon {
    color: #005858;
}

.inputbox input {
    accent-color: #005858;
    padding: 4px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 10px;
}

.btn {
    height: 40px;
    width: 100%;
}

.social {
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: none;
    background-color: #FFFFFF;
    color: #5F6368;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
}

.google, .apple {
    height: 24px;
}

.apple {
    color: black;
}

@media (max-width:900px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .containhead {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

}

@media (max-width:500px) {
    .container {
        padding: 20px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
    }
    .containhead {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .containhead h2 {
        font-family: "Roboto", sans-serif;
        font-size: 28px;
        line-height: 32px;
    }
    
    .deleteicon {
        color: #005858;
    }
    
    .content {
        display: flex;
        flex-direction: column;
    }
    
    .productbox {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: flex-start;
        gap: 10px;
        border-bottom: 1px solid #E1E3E2;
    }
    
    .name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .wrap p {
        font-size: 12px;
        font-family: "Roboto", sans-serif;
    }
    
    .heading {
        font-family: "Roboto", sans-serif;
        font-family: 14px;
    }
    
    .quantity, .amount {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-top: -15px;
    }
    
    .count {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        background-color: #E1E3E2;
        text-align: center;
    }
    
    .amount {
        font-weight: 600;
    }
    
    .amountbox {
        display: flex;
        width: 250px;
        padding: 20px;
    }
    
    .headbox {
        gap: 20px;
    }
    
    .headbox h2 {
        font-size: 18px;
    }
    
    .headbox h3 {
        font-size: 16px;
    }
    
    .button {
        display: flex;
        align-items: center;
        flex-direction: row;
        border: 1px solid #FF8376;
    }
    
    .describe {
        font-size: 12px;
        text-align: center;
        color: #454747;
    }
    
    .inputboxbox p {
        font-size: 12px;
        color: #454747;
        font-weight: 400;
        line-height: 32px;
    }
    
    .inputbox {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    
    .infoicon {
        color: #005858;
    }
    
    .inputbox input {
        accent-color: #005858;
        padding: 4px;
    }
    
    .google, .apple {
        height: 24px;
    }
    
    .apple {
        color: black;
    }
}
