.container {
    display: flex;
    padding: 80px 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.tab-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.tab-menu button {
    padding: 7px 10px;
    width: 200px;
    background-color: white;
    color: #000000;
    border: 1px solid #79747E;
    border-radius: 80px;
    font-size: 16px;
    cursor: pointer;
}

.tab-menu button.active {
    background-color: #FF8376;
    color: #1D192B;
}

.tab-content p {
    text-align: left;
    font-size: 14px;
}

.tab-content .text {
    font-weight: 600;
}

.tab-content h3 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.tab-content ul li {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.tab-content ul li span {
    font-weight: 550;
}

.tab-content section {
    display: flex;
    gap: 120px;
}

.tab-content h2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

.tab-content .starbox{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 300px;
    margin-left: -10px;
}

.tab-content .starcontentbox {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.tab-content aside p {
    font-size: 14px;
}

.tab-content .starbox p {
    font-size: 12px;
}

.tab-content .line4 {
    width: 200px;
}

.percentage-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
  }
  
  .slider {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .tab-content .percentage-bar {
    width: 100%;
    height: 20px;
    background-color: #FF8376;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .tab-content .percentage-fill {
    height: 100%;
    background-color: #76c7c0;
    border-radius: 10px;
  }
  
.tab-content .percentage-label {
    font-size: 1.5rem;
    color: #333;
}

