.container {
    display: flex;
    padding: 80px 100px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: #F6FAF9;
}

.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 90px;
}

.productbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.images {
    width: 274.875px;
    height: 200px;
}

.heading{
font-family: "Roboto", sans-serif;
font-size: 28px;
font-weight: 600;
line-height: 40px;
}

.heading a {
    color: #005858;
    text-decoration: none;
}

@media (max-width:900px) {
    .products {
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-right: -50px;
    }

    .container {
        padding: 20px 10px;
        background-color: #F6FAF9;
    }

    .images {
        width: 200px;
        height: 100px;
    }

    .heading{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
}
}

@media (max-width:500px) {
    .container {
        padding: 20px 10px;
        background-color: #F6FAF9;
    }
    .products {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        margin-left: -70px;
    }

    .images {
        width: 110.837px;
        height: 80.645px;
    }

    .heading{
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
}
}
